.git
.venv
.venvs
.env
.env_qa
.env.example
.idea
.vscode
.pytest_cache
.trace
data/
feedback_data/
deployment/phoenix/.data
deployment/phoenix/.run
**/__pycache__
*.egg-info
creds.json
docs/
analysis/
